@tailwind base;
@tailwind components;
@tailwind utilities;
overscroll-behavior: none;
#__next {
	height: 100%;
}

@keyframes flipCardLeft {
	0% {
		transform: translateX(0) translateY(0) scale(1) rotateY(180deg);
		opacity: 100%;
	}
	50% {
		transform: translateX(-120px) translateY(72px) scale(1.5) rotateY(0deg);
	}
	100% {
		transform: translateX(0px) translateY(144.06px) scale(1) rotateY(0deg);
		opacity: 100%;
	}
}

/* -webkit- keyframes animation for older WebKit-based browsers */
@-webkit-keyframes flipCardLeft {
	0% {
		-webkit-transform: translateX(0) translateY(0) scale(1) rotateY(180deg);
		opacity: 100%;
	}
	50% {
		-webkit-transform: translateX(-120px) translateY(72px) scale(1.5)
			rotateY(0deg);
	}
	100% {
		-webkit-transform: translateX(0px) translateY(144.06px) scale(1)
			rotateY(0deg);
		opacity: 100%;
	}
}

@keyframes flipCardRight {
	0% {
		transform: translateX(0) translateY(0) scale(1) rotateY(180deg);
		opacity: 100%;
	}
	50% {
		transform: translateX(120px) translateY(72px) scale(1.5) rotateY(0deg);
	}
	100% {
		transform: translateX(0px) translateY(144.06px) scale(1) rotateY(0deg);
		opacity: 100%;
	}
}

/* -webkit- keyframes animation for older WebKit-based browsers */
@-webkit-keyframes flipCardRight {
	0% {
		-webkit-transform: translateX(0) translateY(0) scale(1) rotateY(180deg);
		opacity: 100%;
	}
	50% {
		-webkit-transform: translateX(120px) translateY(72px) scale(1.5)
			rotateY(0deg);
	}
	100% {
		-webkit-transform: translateX(0px) translateY(144.06px) scale(1)
			rotateY(0deg);
		opacity: 100%;
	}
}

@keyframes putAwayAndDraw {
	0% {
		transform: translateY(0) rotateY(0deg);
	}
	25% {
		transform: translateY(-72px) rotateY(180deg);
	}
	50% {
		transform: translateY(-144.06px) rotateY(180deg);
	}
	75% {
		transform: translateY(-72px) rotateY(180deg);
	}
	100% {
		transform: translateY(0px) rotateY(0deg);
	}
}

/* -webkit- keyframes animation for older WebKit-based browsers */
@-webkit-keyframes putAwayAndDraw {
	0% {
		-webkit-transform: translateY(0) rotateY(0deg);
	}
	25% {
		-webkit-transform: translateY(-72px) rotateY(180deg);
	}
	50% {
		-webkit-transform: translateY(-144.06px) rotateY(180deg);
	}
	75% {
		-webkit-transform: translateY(-72px) rotateY(180deg);
	}
	100% {
		-webkit-transform: translateY(0px) rotateY(0deg);
	}
}

@keyframes resetCard {
	100% {
		transform: translateX(0) translateY(0) scale(1) rotateY(180deg);
		opacity: 0%;
	}
}

/* -webkit- keyframes animation for older WebKit-based browsers */
@-webkit-keyframes resetCard {
	100% {
		-webkit-transform: translateX(0) translateY(0) scale(1) rotateY(180deg);
	}
}

.flipCardAnimation {
	animation-name: flipCard;
	animation-duration: 4s;
	animation-delay: 0ms;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	transform-origin: center center;
}

/* -webkit- animation for older WebKit-based browsers */
.flipCardAnimation {
	-webkit-animation-name: flipCard;
	-webkit-animation-duration: 4s;
	-webkit-animation-delay: 0ms;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: center center;
}

.flipCardHigherAnimation {
	animation-name: flipCardRight, resetCard;
	animation-duration: 1s, 0s;
	animation-delay: 0ms, 2000ms;
	animation-timing-function: linear, linear;
	animation-iteration-count: 1, 1;
	animation-fill-mode: forwards, forwards;
	transform-origin: center center;
}

/* -webkit- animation for older WebKit-based browsers */
.flipCardHigherAnimation {
	-webkit-animation-name: flipCardRight, resetCard;
	-webkit-animation-duration: 1s, 0s;
	-webkit-animation-delay: 0ms, 2000ms;
	-webkit-animation-timing-function: linear, linear;
	-webkit-animation-iteration-count: 1, 1;
	-webkit-animation-fill-mode: forwards, forwards;
	-webkit-transform-origin: center center;
}

.flipCardLowerAnimation {
	animation-name: flipCardLeft, resetCard;
	animation-duration: 1s, 0s;
	animation-delay: 0ms, 2000ms;
	animation-timing-function: linear, linear;
	animation-iteration-count: 1, 1;
	animation-fill-mode: forwards, forwards;
	transform-origin: center center;
}

/* -webkit- animation for older WebKit-based browsers */
.flipCardLowerAnimation {
	-webkit-animation-name: flipCardLeft, resetCard;
	-webkit-animation-duration: 1s, 0s;
	-webkit-animation-delay: 0ms, 2000ms;
	-webkit-animation-timing-function: linear, linear;
	-webkit-animation-iteration-count: 1, 1;
	-webkit-animation-fill-mode: forwards, forwards;
	-webkit-transform-origin: center center;
}

.putAwayAndDrawAnimation {
	animation-name: putAwayAndDraw;
	animation-duration: 1s;
	animation-delay: 0ms;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	transform-origin: center center;
}

/* -webkit- animation for older WebKit-based browsers */
.putAwayAndDrawAnimation {
	-webkit-animation-name: putAwayAndDraw;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0ms;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: center center;
}
